# Ignore bundler config.
/.bundle

# Ignore local (development) env
.env

# Ignore local (development) node_modules (since yarn doesn't seem to have a dotfile)
/node_modules/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
