version: '2.1'
services:
  postgres:
    image: postgres
  redis:
    image: redis
  web:
    build: .
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/weltzeit
    ports:
      - 80
    environment:
      RAILS_ENV: "${RAILS_ENV:-production}"
      SECRET_KEY_BASE: "${SECRET_KEY_BASE}"
      RAILS_SERVE_STATIC_FILES: 1
      VIRTUAL_HOST: "cwock.com"
    # TODO rake web db:create db:migrate
    command: ['s', '-p', '80', '-b', '0.0.0.0']
