.world {
  width: 100%;
  .control {
    margin-top: 1em;
    text-align: center;
  }
}
.timepiece {
  position: relative;
  margin: auto;
  margin-top: 0.5em;
  width: 9em;
  border: 0.25vmin solid DarkSlateGrey;
  border-radius: 1vmin;
  text-align: center;
  .title {
    position: relative;
    z-index: -1;
    background: LightGrey;
    border-bottom: 0.25vmin solid DarkSlateGrey;
    border-top-left-radius: 0.7vmin;
    border-top-right-radius: 0.7vmin;
    padding: 0.25em;
    overflow: hidden;
  }
  .datetime {
    font-size: larger;
  }
  .destroy {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
  }
}
.sign {
  margin-top: 0.5em;
}
