<!DOCTYPE html>
<html>
  <head>
    <title>Weltzeit</title>
    <%= csrf_meta_tags %><%# NOTE needed by hyper-mesh %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
